<div class="row">
<div class="col s12 m6 offset-m3">
  <div class="card">
  <div class="card-content">
      <span class="collection-item">
        <!-- call the method search in component and admise the last value-->
        <input #searchBox (keyup)="search(searchBox.value)"
         placeholder="Search a Pokémon..."/>
         <div *ngIf="(pokemons | async)?.length === 0; else found_result">
           <p class="information">Not Found</p>
         </div>

         <ng-template #found_result>
             <div class="information">{{(pokemons | async)?.length }}</div>
         </ng-template>
      </span>

      <div class='collection'>
        <!-- The pipe async applied at the observable allow to display the result of Observable when this one has answered.-->
        <a *ngFor="let pokemon of pokemons | async"
             (click)="gotoDetail(pokemon)" class="collection-item" >
             <div class="pockemon_picture_searched">
               <img [src]="pokemon.picture">
             </div>
             {{ pokemon.name }}
        </a>
      </div>
    </div>
  </div>
</div>
</div>
