<!-- here it's a form based from the template -->
<form *ngIf="pokemon" (ngSubmit)="onSubmit()" #pokemonForm="ngForm">
  <div class="row">
    <div class="col s8 offset-s2">
      <div class="card-panel">

        <div class="center card-image">
          <img [src]="pokemon.picture">
        </div>

        <!-- Pokemon name -->
        <div class="form-group">
          <label for="name">Name</label>
          <!-- required allows to make mandatory the field picture -->
          <!-- pattern is a regex -->
          <input type="text" class="form-control" id="name"
            required
            pattern="^[a-zA-ZáàâäãåçéèêëíìîïñóòôöõúùûüýÿæœÁÀÂÄÃÅÇÉÈÊËÍÌÎÏÑÓÒÔÖÕÚÙÛÜÝŸÆŒ]{3,25}$"
            [(ngModel)]="pokemon.name" name="name"
            #name="ngModel">
        </div>

        <!-- Boolean = true if and only if the element has still not changed or modified -->
        <div [hidden]="name.valid || name.pristine"
            class="card-panel red">
            The name of Pokemon is required (3-25).
        </div>

        <!-- Pokemon picture -->
        <div class="form-group">
          <label for="picture">Picture</label>
          <!-- required allows to make mandatory the field picture -->
          <input type="text" class="form-control" id="picture"
            required
            pattern="app/assets/pokemons_pictures/.+"
            [(ngModel)]="pokemon.picture" name="picture"
            #picture="ngModel">
        </div>

        <!-- error -->
        <div [hidden]="picture.valid || picture.pristine"
            class="card-panel red">
            The path of the picture is wrong.
        </div>

        <!-- Pokemon HP -->
        <div class="form-group">
          <label for="hp">Life point</label>
          <!-- required allows to make mandatory the field life point -->
          <input type="number" class="form-control" id="hp"
            required
            pattern="[0-9]{1,3}"
            [(ngModel)]="pokemon.hp" name="hp"
            #hp="ngModel">
        </div>

        <!-- error -->
        <div [hidden]="hp.valid || hp.pristine"
            class="card-panel red">
            The hp is wrong.
        </div>

        <!-- Pokemon CP -->
        <div class="form-group">
          <label for="cp">Damages</label>
          <!-- required allows to make mandatory the damages field -->
          <input type="number" class="form-control" id="cp"
            required
            pattern="[0-9]{1,3}"
            [(ngModel)]="pokemon.point_of_damage" name="cp"
            #cp="ngModel">
        </div>

        <!-- error -->
        <div [hidden]="cp.valid || cp.pristine"
            class="card-panel red">
            The cp is wrong.
        </div>

        <!-- Pokemon type -->
        <div class="form group">
          <label for="type">Pokemon's type </label>

          <!-- error -->
          <div [hidden]="!isTypeLength()" class="helper-text">
            The maximum type number is reached.
          </div>
        <br/>

          <div *ngFor="let type of types" class="row">
            <input type="checkbox" class="filled-in" id = "{{type}}"
              value="type"
              [disabled]="isTypeLength()"
              [checked]="hasType(type)"
              (change)="selectType($event, type)"/> <!-- checked to see if the pokemons type is checked or not. -->
                                                    <!-- change if the value has changed by the user. -->
            <label [attr.for]="type">
               <span class="{{ type | pokemonTypeColor }}">{{ type }}</span>
            </label>
          </div>
        </div>



        <!-- Submit button -->
        <div class="divider"></div>
        <br/>
        <div class="card-action">
          <a class="waves-effect waves-light btn" (click)="goBack(pokemon)"> Back </a>
          <button type="submit"
                  class="waves-effect waves-light btn"
                  [disabled]="!pokemonForm.form.valid">
                  Submit
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
<h3 *ngIf="!pokemon" class="center">
  <pkmn-loader></pkmn-loader>
</h3>
