.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948;
  border-right: 5px solid #42A948; /* green border */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red border */
}

label {
  font-size: 1.8rem;
  color: #9e9e9e;
}

.helper-text {
  color: red;
}
